# Перемикаємо вивід консольних повідомлень на USB-C, замість UART0 каналу
# А також для уникнення змішування консольних повідомлень та MAVLink повідомлень
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y

# Чіп має 4 МБ flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

# Частота роботи процесора, 240МГц = 240 000 000 тактів/с
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Як часто планувальник ОС має прокидатись щоб вирішити яка задача працює далі, перевірка таймерів, затримок.
# Дефолт = 100Гц/кожні 10мс, 1000Гц = кожну мілісекунду
CONFIG_FREERTOS_HZ=1000

# Збільшення стеку до 8кб, дефолтних недостатньо бо mavlink_message_t=~280 байт, а їх може бути декілька
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
